@import '../variables';

.button {
  display: inline-block;
  background-color: $purple;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color $duration ease-in-out, border-color $duration ease-in-out;
  color: #fff;
  border: 1px solid transparent;
  @include noselect();

  &,
  i,
  span,
  path,
  svg {
    transition: all $duration ease-in-out;
    font-weight: bold;

  }

  &:hover {
    background-color: darken($purple, 8%);
  }

  &:active {
    background-color: darken($purple, 12%);
    transform: translateY(1px);
  }

  &--outline {
    background-color: #fff;
    border-color:$purple;
    &,
    span {
      color: $purple;
    }

    svg {
      path {
        fill: $purple;
      }
    }
    &:hover {
      background-color: $purple;

      &,
      span {
        color: #fff;
        font-weight: bold;
      }
    }
  }
}



