
.button {
  display: inline-block;
  background-color: #8e44ad;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  color: #fff;
  border: 1px solid transparent;
  @include noselect();

  &,
  i,
  span,
  path,
  svg {
    transition: all 0.15s  ease-in-out;
    font-weight: bold;

  }

  &:hover {
    background-color: darken(#8e44ad, 8%);
  }

  &:active {
    background-color: darken(#8e44ad, 12%);
    transform: translateY(1px);
  }

  &--outline {
    background-color: #fff;
    border-color:#8e44ad;
    &,
    span {
      color: #8e44ad;
    }

    svg {
      path {
        fill: #8e44ad;
      }
    }
    &:hover {
      background-color: #8e44ad;

      &,
      span {
        color: #fff;
        font-weight: bold;
      }
    }
  }
}



