@import '../libs//normalize';

.blog-wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 100px;
  

}


.blog-wrap header {
  text-align: center;
}

.blog-date {
  font-size: 0.8rem;
  color: #a9a9a9;
  font-weight: 500;
}

.blog-wrap img {
  width: 100%;
}


.blog-desc {
  padding: 1rem;
  margin-top: 1.5rem;
}




