
.comments {
  position: relative;
  width: 100%;
  background: rgb(13, 13, 13);
  margin: auto;
  padding: 27px;
  box-sizing: border-box;
  top: 5em;
}

.comments::after {
  content: " ";
  display: table;
  clear: both;
}

.comments__form-info,
.comments__form-text {
  width: 100%;
  margin: 0;
  
}

.comments__form-info { float: left; }
.comments__form-text { float: right; }

.comments__form-field {
  position: relative;
}
.comments__form-label {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font: 700 1.125em 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
  cursor: text;
  pointer-events: none;
  color: #111;

}

.comments__form-label-text {
  display: block;
  transform: translateY(100%);
  opacity: 0;
  transition: 0.5s;
  transition-property: transform, opacity;
}
.comments__form-input:focus::-webkit-input-placeholder {
   color: transparent;
}
.comments__form-input:focus + .comments__form-label .comments__form-label-text {
  transform: translateY(0);
  opacity: 1;
}

.comments__form-label::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #111;
  bottom: 1em;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.comments__form-input:focus + .comments__form-label::after {
  transform: scaleX(1);
}

.comments__form-input {
  position: relative;
  width: 100%;
  padding: 1em 0;
  border: 0;
  outline: 0;
  margin: 1em 0;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
  vertical-align: bottom;
  font: 400 1.125em 'Open Sans', 'Helvetica Neue', 'Arial', 'sans-serif';
  border-radius: 10px;
}

.comments__form-textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 168px;
}






@media only screen and (min-width: 1020px) {

  .comments { width: 970px; padding: 52px; }

  .comments__form-info,
  .comments__form-text { width: 407px; }

}

