

.PostingTweetAuthorImage {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    margin-right: 17px;
    cursor: pointer;
  
    @media (max-width: 768px) {
      margin-right: 10px;
    }
}

.PostingTweetContent{
    width: 100%;

}

.EditingTweetForm{
    width: 100%;

}


.PostingTweetAuthor{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    @media (max-width: 768px) {
      flex-direction: column;
    }
}

.AuthorInfo{
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
  
    @media (max-width: 768px) {
      width: 100%;
      justify-content: flex-start;
    }
}


.PostingEditDelete{
    display: flex;
    align-items: center;
  
    @media (max-width: 768px) {
      width: 100%;
      justify-content: flex-end;
    }
}


.AuthorName{
    font-size: 17px;
    font-weight: bold;
  
    @media (max-width: 768px) {
      font-size: 15px;
    }
}


.AuthorEmail{
    font-size: 16px;
    margin-left: 7px;
    color: gray;
    font-weight: 500;
  
    @media (max-width: 768px) {
      font-size: 15px;
    }
}


.AuthorCreatedAt{

    font-size: 14px;
    color: gray;
    font-weight: 500;
  
    @media (max-width: 768px) {
      font-size: 13px;
    }
}


.AuthorDot{

    font-size: 15px;
    margin: 0 5px;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
}


.PostingTweetDesc{
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
}


.PostingEditTweetDesc {

    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 12px;
    box-sizing: border-box;
    margin-top: 7px;
    color: #989898;
    border-radius: 5px;
    resize: none;
    // background-color: ${(props) => props.currentLight && "white"};
    // background-color: ${(props) => props.currentDark && "#404040"};
  
    &::-webkit-scrollbar {
      width: 11px;
      height: 11px;
      background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 7px;
      background-color: #787878;
  
      &:hover {
        background-color: #c0c0c0;
      }
      &:active {
        background-color: #c0c0c0;
      }
    }
    &::-webkit-scrollbar-track {
      background-color: lightgray;
    }
}

.PostingTweetImage{
    width: 490px;
    height: 280px;
    border-radius: 15px;
    cursor: pointer;
  
    @media (max-width: 768px) {
      width: 100%;
      height: 200px;
    }
}


.EditTweetBtn{
    padding: 6px 10px;
    color: white;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    background-color: #74b9ff;
  
    &:hover {
      background-color: rgb(29, 161, 242);
    }
}


.DeleteTweetBtn{

    margin-left: 4px;
    padding: 6px 10px;
    color: white;
    border-radius: 30px;
    font-size: 14px;
    font-weight: bold;
    background-color: #ff7979;
  
    &:hover {
      background-color: #eb4d4b;
    }
}


.IconSVGContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
}

.LoginFormContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 625px;
    height: 700px;
    overflow-y: scroll;
    z-index: 10;
    background-color: white;
    border-radius: 20px;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    // background-color: ${(props) => (props.current === "true" ? "#1e2125" : "#f8f8f8")};
    // border: 1px solid ${(props) => (props.current === "true" ? "#404040" : "#eee")};
  
    &::-webkit-scrollbar {
      width: 11px;
      height: 11px;
      background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 7px;
      background-color: #787878;
  
      &:hover {
        background-color: #444;
      }
      &:active {
        background-color: #444;
      }
    }
    &::-webkit-scrollbar-track {
      background-color: lightgray;
    }
}



.LoginFormContent{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 35px;
    align-items: flex-start;
}




.PostingTweetFollowerContainer{

    margin-top: 18px;

}


.PostingTweetTitle{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 32px;
}


.PostingTweetFollower{



      display: flex;
  margin-bottom: 30px;
}


.formInput{
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0px;
  padding-left: 4px;
  padding-right: 30px;
  padding-bottom: 18px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 4px;
  color: #989898;
  // background-color: ${(props) => (props.current === "true" ? "#1e2125" : "#f8f8f8")};

  &::placeholder {
    color: #ff0000;
  }
}


.TweetFormTextContainer{

  position: relative;

}


.TweetFormTextInput{
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0px;
  padding-left: 4px;
  padding-right: 30px;
  padding-bottom: 18px;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 4px;
  color: #989898;
  // background-color: ${(props) => (props.current === "true" ? "#1e2125" : "#f8f8f8")};

  &::placeholder {
    color: #989898;
  }
}

.FileDataContainer{
  position: relative;

}



.FileData{
  width: 490px;
  height: 280px;
  border-radius: 15px; 
  @media (max-width: 768px) {
    width: 100%;
    height: 200px;
  }
}

.IconDataCancelContainer{
  position: absolute;
  top: 5px;
  left: 6px;
  font-size: 17px;
  padding: 7px 9px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}

.TweetFormImageContainer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  position: relative; 
}
.TweetFormImageLabel{
  margin-top: 4px;

}

.TweetFormSubmit{

  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  color: white;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
  background-color: #98cff8;
  margin-left: auto;  
}

