@import '../libs//normalize';

.tweet_input {
  display: flex;
}
.tweet_input .MuiSvgIcon-root {
  margin-left: 14px;
  width: 30px;
  height: 30px;
}

.tweet_input  textarea {
  border: none;
  outline: none;
  padding-top: 12px;
  font-size: 20px;
  width: 200%;
  padding: 0.3rem 1rem;
  padding-bottom: 0.3rem;
  min-height: 50px;
  border-radius: 10px;
  border: solid #bd02ad;
}

.title_input {
  border: none;
  outline: none;
  padding-top: 12px;
  font-size: 20px;
  width: 80%;
  align-items: center;
  padding: 0.3rem 1rem;
  padding-bottom: 0.3rem;
  min-height: 50px;
  border-radius: 10px;
  border: solid #bd02ad;
}

.selectedfile-wrapper {
  width: 30%;
  position: relative;
}
.clear-icon {
  position: absolute;
  padding: 0.2rem;
  top: 0.5rem;
  left: 0.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.712);
  align-items: center;
  background-color: rgba(0, 0, 0, 0.425);
}
.selectedfile-wrapper img {
  max-height: 200px;
  width: auto;
  max-width: 100%;
  border-radius: 1rem;
}
.tweetOptions {
  /* border: 1px solid red; */
  display: flex;
  margin-left: 55px;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}



// ======================================================newpost==============================================================
.post_content{

  width: 500px;
	max-width: 600px;
	height: 200px;
	margin: 20px 0;
	background-color: #fff;
	 box-shadow: 0px 1px 2px rgba(50, 50, 50, .1), 
		0px 2px 4px rgba(60, 60, 60, 0.1);
	border-radius: 5px;
	padding: 30px;
}

.post_headerNames, .post_header {
  font-weight: 800;
	margin: 10px 0;
  color: black;
}

.post_content h3{
color: rgb(67, 67, 67);
font-weight: 800;

}





.post {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 12px;
  display: flex;
  border-bottom: 1px solid var(--twitter-background);
  /* column-gap: 10px; */
}
.post_avatar .MuiSvgIcon-root {
  width: 30px;
  height: 30px;
  margin-left: 13px;
}
.post_body {
  padding-left: 10px;
  width: 100%;
}
.post_header {
  display: flex;
  justify-content: space-between;
}

.post_headerNames {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.post_description {
  margin: 1rem;
  margin-left: 0;
}
.post_description > p {
  font-size: 1.1rem;
}
.post_image {
  margin-bottom: 10px;
}
.post_image > img {
  width: 40%;
  border-radius: 1rem;
  object-fit: contain;
  margin-bottom: 1rem;
}

.tweetButton > .MuiButton-root {
  background-color: var(--twitter-color);
  border-radius: 30px !important;
  text-transform: capitalize;
  font-weight: bold;
}


.icons{
  font-size: 15px;
	display: flex;
  align-items: center;

}